body

h1{
 color: blueviolet;
 text-align: center;
 font-family: "Georgia" ;
 font-size: larger;



}
h2{
    text-align: center;
    font-family: "Georgia" ;
    font-size: larger;
    color: green;

}
p{
    color: palevioletred;
    text-align: center;
    font-family: "Arial" ;
    

}