body

h1{
 color: blueviolet;
 text-align: center;
 font-family: "Georgia" ;
 font-size: larger;

}
div {
    text-align: center;
    color: orange;
    font-family: "courier";
    font-size: xx-large;
    font-style: italic;
    font-variant: initial;

}
<<<<<<< HEAD
h2{
    text-align: center;
    font-family: "Georgia" ;
    font-size: larger;
    color: green;

}

p{
    color: palevioletred;
    text-align: center;
    font-family: "Arial" ;
    

}